.box {
    height: 100px;
    width: 1300px;
    margin-bottom: 5px;
    border: 1px rgb(193, 236, 197);
    background-color: rgb(179, 200, 166);
  }

.box1 {
    height: 30px;
    width: 1300px;
    margin-bottom: 5px;
    border: 1px black;
    background-color: rgb(205, 138, 50);
  }
  
  .box2 {
    height: 55px;
    width: 1300px;
    margin-bottom: 5px;
    border: 1px black;
    background-color: rgb(32, 35, 51);
  }

  .box2 a {
    margin: 0 20px;
    text-decoration: none;
    color: hsl(27, 21%, 92%);
    font-weight: bold;
  }

  .navbar {
    height: 70px;
    width: 1300px;
    margin-bottom: 5px;
    border: 1px black;
    background-color: rgb(211, 239, 244);
  }

  .navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .navbar a:hover {
    color: #007bff;
  }

  .dropdown {
    display: none;
    position: absolute;
    background-color: #96c115e1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown a {
    color: #333;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown a:hover {
    background-color: #18ba91;
 }
.navbar a:hover .dropdown {
    display: block;
    visibility: visible;
 }

 .container {
    position: relative;
    text-align: center;
    color: white;
  }
 .top-left {
    position: absolute;
    top: 64px;
    left: 100px;
    background-color: rgb(48, 51, 32);
  }
  .form-popup {
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  